@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
:root {
  --purple: #9E95F5;
  --green: #E0FFDF;
  --red: #F08182;
  --pink: #f081dd;
  --darkGrey: #696D71;
  --orange: #FFB976;
  --blue: #48aef1b2;
  --gradientOrange: linear-gradient(0, 0, 0, 1, [
    {
      offset: 0,
      color: 'rgb(255, 191, 0)'
    },
    {
      offset: 1,
      color: 'rgb(224, 62, 76)'
    }
  ]);
  --appColor:  #3c3f45;
  --adCard: #363d42;
}