.ecommerceCard:hover {
  transform: translateY(-3px);
  box-shadow: rgb(34 41 47 / 25%) 0px 4px 25px 0px;
  -webkit-transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s; 
  transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s;
  cursor: pointer;
}

.cartItem{
  background-color: rgb(250, 247, 247);
}

.cartItem:hover {
  transform: translateY(-1px);
  box-shadow: rgba(28, 29, 31, 0.5) 0px 4px 25px 0px;
  -webkit-transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s; 
  transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s;
}

.cartCard{
  max-height: 20rem
}

.deleteBtn:hover{
  color: rgb(244 41 47);
}