.ecommerceCard:hover {
  transform: translateY(-5px);
  box-shadow: rgb(34 41 47 / 25%) 0px 4px 25px 0px;
  -webkit-transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s; 
  transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s;
}

.cartItem{
  background-color: rgb(224, 224, 224);
}

.cartCard:hover {
  transform: translateY(-1px);
  box-shadow: rgba(45, 52, 58, 0.25) 0px 4px 10px 0px;
  -webkit-transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s; 
  transition: all .3s ease-in-out,white 0s,color 0s,border-color 0s;
}
